* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    border-bottom: 1px solid;
    cursor: pointer;
  }
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
body {
  font-size: 16px;
  color: #311837;
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
pre code {
  font: normal 10pt Consolas, Monaco, monospace;
}

$button-height: 32px;
$font-size: 14px;
$button-bg: white;
$button-active-bg: #eee;
$border-radius: 4px;
$color: #333;
$border-color: #999;
$border-color-hover: #666;

$default-background-color: #fff;
$default-border-color: #e0e0e0;
$default-color: #757575;
$default-color-hover: #29b6f6;
$default-color-active: #0288d1;
$default-background-color-disabled: #eceff1;
$default-color-disabled: #b0bec5;

$primary-background-color: #039be5;
$primary-background-color-hover: $default-color-hover;
$primary-background-color-active: $default-color-active;

$success-background-color: #7cb342;
$success-background-color-hover: #9ccc65;
$success-background-color-active: #689f38;

$warning-background-color: #ffb300;
$warning-background-color-hover: #ffa726;
$warning-background-color-active: #f57c00;

$danger-background-color: #e53935;
$danger-background-color-hover: #ef5350;
$danger-background-color-active: #d32f2f;

$link-color: $primary-background-color;
$link-color-hover: $primary-background-color-hover;
$link-color-active: $primary-background-color-active;

$text-color: $default-color;

$button-types: primary, success, warning, danger;

$background-colors: $primary-background-color, $success-background-color, $warning-background-color, $danger-background-color;
$background-colors-hover: $primary-background-color-hover, $success-background-color-hover, $warning-background-color-hover, $danger-background-color-hover;
$background-colors-active: $primary-background-color-active, $success-background-color-active, $warning-background-color-active, $danger-background-color-active;